.keyboard-wrapper {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.area-input {
  width: 100%;
  min-height: 200px;
  margin-bottom: 20px;
  padding: 0;
}

.keyboard-line {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  max-height: 40px;
}

.key {
  min-width: 20px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #000;
  height: 20px;
  padding: 5px;
  box-shadow: 4.1px 3.1px 3.1px #7bcdfa;
  font-family: Arial;
  font-size: 14px;

  &.button9 {
    width: 49px;
  }

  &.button13 {
    width: 63px;
  }

  &.button16 {
    width: 65px;
  }

  &.button32 {
    width: 228px;
  }
  
}